@import "~react-vis/dist/style.css";

.fc-light {
    color: white;
}

a:hover.fc-light{
    color: white;
}

.whiteboard {
    background-color: white;
}

.runner-item {
    padding-right: 2pt;
    font-size: x-large;
    text-decoration: black;
}

.runner-item.current {
    background-color:tomato;
    text-decoration: white underline;
}

.runnerContainer{
    display: inline-block;
    background-color: lightgrey;
    min-height: 100px;
    max-width: 100%;
    width: 100%;
    padding: 1em;
    border-left: darkblue;
    border-right: darkblue;
    border-radius: 5pt;
    border-width: 0 medium 0 medium;
    border-style: solid;
}


.iconPadding{
    padding-right: 20px;
}

.no-outline{
    outline: none;
}

